---
import { Languages } from "../../../utils/types";
import { parseFrontmatter } from "../../../utils/utils";
import Basics from "../../../layouts/Basics.astro";
import Card from "../../../components/Card.astro";
import 'virtual:windi.css';

export async function getStaticPaths() {
    return Languages.values().map((language) => {
    return {
      params: { lang: language },
      props: { language },
    };
  });
}

const { language } = Astro.props;

const projectsRaw = await Astro.glob('/src/data/projects/*.md');
const projects = projectsRaw.map((project) => {
  return parseFrontmatter(project.frontmatter, language)
})

const repetition = [1, 2, 3, 4]
---
<Basics title="projects" language={language}>


<div class="justify-items-center grid grid-cols-1 grid-row-auto md:grid-cols-2 lg:grid-cols-4 2xl:grid-cols-6">{
  repetition.map(() => {
    return <>
      {
        projects.map((project) => {
          return <Card title={project.info.titles.title} body={project.info.descriptions.description} href={project.slug} img={project.info.img}/>
    })}
    </>
  })}
</div>

</Basics>